#
# This is a template bia_pipeline.config file. 
# It contains configuration entries for the assembly pipeline.
#
#
# author: Pawel Sztromwasser
#


#
# Pipeline inputs
#

[Inputs]

# The pipeline can start from 2 places, which is determined by uncommenting one (and only one) of the options:
# 1) Input run-dir if the pipeline should start from bcl2fastq conversion. 
#    The path should be absolute. The directory is expected to contain SampleSheet.csv file - the input to bcl2fastq.
#run-directory:	/ngs/prod/incoming/
#
# 2) Path (GLOB expression) describing location of paired FASTQ files. 
#    Multiple lanes per sample are supported; see pipeline code for the expected naming convention.
#    In dockerized execution mode the path is resolved relative to scratch-root directory (see below). In regular execution mode the path should be absolute. 
#input-fastqs:	/ngs/prod/data/*.fastq.gz
#
# Alternatively, run-directory can be passed as commandline argument to the pipeline. Run-folder path passed on command-line takes precedence over its path in a config file.
#




#
# Root paths
#

[Paths]

# Root paths for working directory (scratch) and for reference data. Absolute paths must be provided. If scratch-root is unset, current working directory is used.
# When pipeline starts from bcl2fastq conversion (run_directory is set or provided as commandline arg), 
# scratch-root/RUN_ID (where RUN_ID is the same as in run_directory) is created and used as run's working directory. 
# When pipeline starts from FASTQ files, the scratch-root folder is used as a working directory.
# In dockerized mode:
# 1) reference-root will be mounted by docker containers with read-only access
# 2) run's working directory (scratch-root or scratch-root/RUN_ID) will be mounted with RW access
# 3) paths specified in sections Inputs and Resources will be resolved with respect to these root directories.
# In regular execution mode:
# 1) paths specified in Resources section will be resolved with respect to the reference-root directory.
reference-root:	    /ngs/test/reference
scratch-root:       /ngs/test/scratch

# Optional results- and fastq-archive root directories. Absolute paths must be provided.
# In dockerized mode, these are mounted to docker containers with RO (writing happens outside docker containers).
# If these directories are not set, the FASTQ and/or assembly results are not archived outside the working (scratch) directory.
results-archive:    /ngs/test/archive
fastq-archive:      /ngs/test/archive	


# Large-capacity tmp directory (if should be different than /tmp). 
# In dockerized mode it will be mounted to a docker container and used as tmp. 
# If commented out, the /tmp of the docker container is used.
# tmp-directory:		/tmp




#
# Docker settings
#
 
[Docker] 

# Other docker settings
#docker-binary:		docker
#docker-args:		run --rm


[Resources]

# Reference genome to use in mapping / variant calling 
reference-genome:           my_genome.fa

adapters-fasta:             /ngs/software/apps/Trimmomatic-0.36/adapters/NexteraPE-PE.fa


[Tools]

# Depending on the execution mode (dockerized or regular) the tool's definition should be provided in appropriate format. 
# For dockerized execution provide docker image name/ID, its version, and executable that should be run inside. 
# Exemplary settings below use "biapipe" image repository, and latest version of the image for each tool (NOTE: best practice is to use exact versioning).
# {args} and {interpreter_args} are place-holders for tool/execution arguments and interpreter arguments (such as -XmX4G in Java). 
# Detailed examples can be found in the pipeline source code: function run_cmd.
#

#bcl2fastq:					biapipe/bcl2fastq:latest bcl2fastq
#trimmomatic:				biapipe/trimmomatic:latest trimmomatic

# In regular execution mode (when docker binary setting is commented-out), the path to the tool's executable should be given, 
# or an interpreter (java/python/perl) together with the path to the tool. 
# Similarly as in tool descriptions above, {args} and {interpreter_args} are place-holders for the respective arguments.
#

bcl2fastq:                  /ngs/software/apps/bcl2fastq-2.19.1/bin/bcl2fastq {args}
bbmerge:                    /ngs/software/apps/BBMap-36.62/bbmap/bbmerge.sh {args}
trimmomatic:                java {interpreter_args} -jar /ngs/software/apps/Trimmomatic-0.36/trimmomatic-0.36.jar {args}
fastqc:                     /ngs/software/apps/FastQC-0.11.5/fastqc {args}
spades:                     /ngs/software/apps/SPAdes-3.9.0-Linux/bin/spades.py {args}
quast:                      /ngs/software/apps/quast-4.5/quast.py {args}
bwa:						/ngs/software/apps/bwa-0.7.13/bwa {args}
samtools:					/ngs/software/apps/samtools-1.3.1/bin/samtools {args}
freebayes:					/ngs/software/apps/freebayes_d784cf8/bin/freebayes {args}




